.DateBtn{
	-fx-text-fill:black;
	-fx-background-color:white;
	-fx-background-radius:20;
}

.DateBtn:hover{
	-fx-background-color: #ff6532;
	-fx-text-fill: white;
}

.DateBtn.selected{
	-fx-background-color: #ff6532;
	-fx-text-fill: white;
}

.memBtn{
	-fx-text-fill:white;
	-fx-background-color:none;
}

.memBtn:hover{
	-fx-background-color: #ff6532;
	-fx-text-fill: white;
}

.memBtn.selected{
	-fx-background-color: #ff6532;
	-fx-text-fill: white;
}
.memBtn.selected1{
	-fx-background-color: #ff6532;
	-fx-text-fill: white;
}
.memBtn.selected2{
	-fx-background-color: #ff6532;
	-fx-text-fill: white;
}
.memBtn.selected3{
	-fx-background-color: #ff6532;
	-fx-text-fill: white;
}
